/* Put all user defined styles here */

.i_radio
{
    color: #262626;	
	font-size: 11px;
}  

.i_text
{
	color: #262626;
	font-size: 11px;
}

.i_select
{
    color: #262626;
	font-size: 11px;
}

.i_checkbox
{
    color: #262626;
	font-size: 11px;
}




